
<div id="accordion">
    <h3><a href="#">Manage Categories</a></h3>
    <div>
        <ul>
            <li><a href="@Href("~/Admin/ManageCategories/Default")">Categories</a></li>
        </ul>
    </div>

    <h3><a href="#">Manage Posts</a></h3>
    <div>
        <ul>
            <li><a href="@Href("~/Admin/ManageProducts/")">Pending Approval</a></li>
            <li><a href="@Href("~/Admin/ManageProducts/Approved")">Approved Products</a></li>
            <li><a href="@Href("~/Admin/ManageProducts/Declined")">Declined Products</a></li>
            <li><a href="@Href("~/Admin/ManageProducts/FeaturedProduct")">Featured Product</a></li>
        </ul>
    </div>

    <h3><a href="#">Manage Users</a></h3>
    <div>
        <ul>
            <li><a href="@Href("~/Admin/ManageUsers/")">Members</a></li>
            <li><a href="@Href("~/Admin/ManageUsers/AccountUpgrade")">Admin Users</a></li>
        </ul>
    </div>

    <h3><a href="#">Manage Ads</a></h3>
    <div>
        <ul>
            <li><a href="@Href("~/Admin/ManageAds/")">Advertisements</a></li>
        </ul>
    </div>
</div>
