@{
    Page.Title = "Change Password";
}

<h1>Change Password</h1>

<form action="ChangePassword" method="post" class="loginForm">

    <p>
        @Html.Label("Current Password:", "currentPassword") <br />
        @Html.Password("currentPassword")
        @Html.ValidationMessage("currentPassword")
    </p>

    <p>
        @Html.Label("New Password:", "newPassword") <br />
        @Html.Password("newPassword")
        @Html.ValidationMessage("newPassword")
    </p>

    <p>
        @Html.Label("Confirm New Password:", "confirmPassword") <br />
        @Html.Password("confirmPassword")
        @Html.ValidationMessage("confirmPassword")
    </p>
    
    <p>
        <input type="submit" value="Change Password" />
    </p>


</form>