@{
    Page.Title = "Reset Password";
    //Layout = "Your Layout Page goes here";

    var newPassword = "";
    var confirmPassword = "";
    var resetToken = Request["resetToken"] ?? "";
    var message = "";
    
    //validation
    Validation.Add("newPassword", Validator.Required("Password is a required field."));
    Validation.Add("confirmPassword", Validator.EqualsTo("newPassword", "New Password and Confirm Password must be same."));
    
    if(IsPost)
    {
        if(Validation.IsValid())
        {
            newPassword = Request["newPassword"];
            
            if(WebSecurity.ResetPassword(resetToken, newPassword))
            {
                message = "Password changed successfully";
            }
            else { message = "Unable to change password."; }
        }
    }
}

<h1>Change Password</h1>
@if (!message.IsEmpty())
{
    <p>@message</p>
}
else
{
    <form action="PasswordReset" method="post" class="loginForm">

        @Html.Hidden("resetToken", resetToken)
        <p>
            @Html.Label("New Password: ", "newPassword") <br />
            @Html.TextBox("newPassword", newPassword)
            @Html.ValidationMessage("newPassword")
        </p>

        <p>
            @Html.Label("Confirm New Password: ", "confirmPassword") <br />
            @Html.TextBox("confirmPassword", confirmPassword)
            @Html.ValidationMessage("confirmPassword")
        </p>

        <p>
            <input type="submit" value="Change Password" />
        </p>

    </form>
}

